.content-column {
    display: flex;  /* Enable flexbox layout */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 200px; /* Set a minimum height to ensure centering works */
    gap: 20px; /* Add spacing between paragraph and image*/
}

.content-column img {
    max-width: 50%; /* Prevent image from overflowing its container */
    height: auto; /* Maintain aspect ratio */

}


body {
    font-family: lucida;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #917056;
    padding: 1rem;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: #000000;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center; /* Center the content column horizontally */
    background-color: rgb(141, 104, 73) ;
}

footer {
    background-color: #e7ccb1;
    padding: 1rem;
    text-align: center;
}
p{
    font-size: 28px;
}
h1{
    justify-content: center;
    justify-items: center;
    text-align: center;
}